body {
  background: linear-gradient(135deg, #b584ee 0%, #2575fc 100%);
  width: 100%;
  height: auto;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  overflow: scroll;
}
.header{
    width: 100%;
      height: 12vh;
}
.carousel-inner{
    width: 90%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
   height: 80vh;
   object-fit: cover;
}
   \.carousel-item img {
  height: 80vh; /* Default for desktop */
  object-fit: cover;
}

/* Tablet screens */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-item img {
    height: 55vh; /* Smaller height on tablets */
  }
  
}

/* Mobile screens */
@media (max-width: 767px) {
  .carousel-item img {
    height: 55vh; /* Even smaller on phones */
  }

}
#login{
  width: 35px;
  height: 35px;
  right: 10%;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  & img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-left: 30px;
  }
}
#company{
  display: grid;
  grid-template-columns: repeat(6,auto);
  gap: 10px;
 
}
.Companies-and-Jobs{
  border: 2px solid black;
  width: 430px;
  height: 390px;
  background-color: white;
}
.job-img{
  width: 60px;
  height: 60px;
}
.logo-img{
  width: 100px;
  height: 90px;
}